.page-content {
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 7%;
}
.side-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}
.footer {
	padding-bottom: 0%;
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
}
.demo-card-wide .mdl-card {
  width: auto;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../../../images/books.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.demo-card-wide1 {
  width: auto;
  padding-left: 10px;
  padding-bottom: 10px;
}


.admreg {
  background-color: white;
  text-align: center;
  width: auto;
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  box-shadow: 5px 5px 10px gray;
}