body  {
  background-color: rgb(245,245,245);
}
.mdl-layout__content  {
  width: 100%;
}
.mdl-card__supporting-text  {
  color: black;
  font-size: 0.9em;
  font-weight: 500;
  text-decoration: none;
}
.page-content {
  padding-bottom: 5%;
}
.snippet  {
  margin: auto;
  display: block;
  padding-bottom: 15px;
}
.side-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}
.mdl-mini-footer {
  right: 0;
  bottom: 0;
  left: 0;
}
.demo-card-wide .mdl-card {
  width: auto;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 190px;
  background: url('../../../images/books.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.demo-card-wide1 {
  width: auto;
  padding-top: 4%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

h1{
  height: 100px;
  width: 100%;
  font-size: 25px;
  background: #18aa8d;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  margin-top: 0px;
  text-align: center;
}

h3{
  height: auto;
  width: 85%;
  font-size: 25px;
  background: #18aa8d;
  color: white;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  margin-top: 0px;
  text-align: center;
}

form {
  box-sizing: border-box;
  width: 350px;
  margin: 100px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 3px;
  margin-top: 0;
}
form h1 {
  box-sizing: border-box;
  padding: 20px;
}

a[target="_blank"]  {
  margin-left: 25px;
  color:#0e6252;
}

input {
  margin: 40px 25px;
  width: 300px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
 -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
          transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -350px 0;
  background-size: 350px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}
input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #1abc9c;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}
 
.login{
  border: none;
  background: #1abc9c;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 150px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.regbutton, .admsubmit, .deptsubmit{
  border: none;
  background: #1abc9c;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 250px;
  color: white;
  margin-left: 100px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  margin-left: 100px;
}
.admreg {
  height: 850px;
}
.update {
  width: auto;
  display: inline;
  box-shadow: none;
}
#forma  {
  text-align: center;
  color: #18aa8d;
}
.stuleft  {
  text-align: left;
}

button:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

select{ 
  color:#18aa8d;
  width:300px;
}

input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #1abc9c;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}
.mdl-button--green  {
  color: green;
}
.mdl-button--red  {
  color: red;
}
.new-button {
}
.mdl-button--blue  {
  color: blue;
}
.go { }
#elecupdate {  }
#displaylist {  }
#snackbar {
  bottom : 8%;
}
.notification {
  padding-right: 15px;
  padding-left: 15px;
}
.notifibutton {
  float: right;
}
.verified {
  color: grey;
  padding-left: 3px;
}
.verified :hover  {
  color: black;
}
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.orange { color: #FB8C00; }

/** responsiveness **/

@media screen and (max-width: 1360px) {  
  .table-responsive {
        width: 100%;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }
    .table-responsive > .table-bordered {
        border: 0;
    }
    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
        border-left: 0;
    }
    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
        border-right: 0;
    }
    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td {
        border-bottom: 0;
    }
    #snackbar {
      bottom : 0;
    }
}